.root {
    background-color: var(--code-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    width: 90%;
    margin: 8px;
    padding: 8px;
    margin-top: 5vw;
}

.listContainer {
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 16px;
    background-color: var(--accent-bg);
    width: 100%;
    display: flex;
    flex-direction: row;
}